<header class="site-header">
  <div class="container">
    <a class="sr-only" href="#main">Skip to main content</a>
    <h1 class="site-header__logo">
      <img src="/assets/images/mhp-logo.png" width="142" height="157"
           alt="Manchester Homelessness Partnership logo" class="site-header__logo__image">
    </h1>

    <!--TODO: Generate a nav-->
    <nav class="site-nav">
      <a href="#" data-target="#site-nav" class="navbar-toggle js-navToggle" aria-label="Toggle Navigation">
        <i class="icon-bar"></i>
        <i class="icon-bar icon-bar-short"></i>
        <i class="icon-bar"></i>
      </a>
      <ul id="site-nav" class="site-nav__list nav-list">
        <li class="nav-list__item">
          <a href="/" class="nav-list__item__link">Home</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
