<header class="site-header">
  <div class="container">
    <a class="sr-only" href="#main">Skip to main content</a>
    <h1 class="site-header__logo">
      <img src="/assets/images/mhp-logo.png" width="142" height="157"
           alt="Manchester Homelessness Partnership logo" class="site-header__logo__image">
    </h1>

    <!--TODO: Generate a menu programmatically-->
    <nav class="site-nav">
      <a href="#" data-target="#site-nav" class="navbar-toggle js-navToggle" aria-label="Toggle Navigation">
        <i class="icon-bar"></i>
        <i class="icon-bar icon-bar-short"></i>
        <i class="icon-bar"></i>
      </a>
      <ul id="site-nav" class="site-nav__list nav-list">
        <li class="nav-list__item nav-list__item--close">
          <a href="#" data-target="#site-nav" class="nav-list__item__link js-navToggle" aria-label="Toggle Navigation">
            Close Menu <span>&times;</span>
          </a>
        </li>
        <li class="nav-list__item">
          <a href="/" class="nav-list__item__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="/homelessness-strategy" class="nav-list__item__link">Homelessness Strategy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
